<nav class="navbar" >
    <ul>
        <li routerLinkActive="active">
            <a routerLink="dashboard">
                <mat-icon aria-hidden="false">
                    home
                </mat-icon>
                Dashboard
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="customer">
                <mat-icon aria-hidden="false">
                    people
                </mat-icon>
                Customers
            </a>
        </li>
    </ul>
</nav>
