nav {
    height: 100%;
    background-color: #00b5ad;
    padding: 0;
    padding-bottom: 0px;
    min-width: 200px;
}

::ng-deep  .darkMode nav {
    background-color: #424242;
}

nav ul  {
 list-style-type: none;
 padding: 20px 0px;
 margin: 0px;
}

.darkMode-toggle {
    display: flex;
    justify-content: center;
}

.darkMode-toggle mat-icon {
    color: white;
}

nav ul li a {
    color: white;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 25px;
    padding : 10px;
}

nav ul li.active a {
   
    
    background-color: rgba(256,256,256,0.3) ;
}

mat-icon {
    padding-right: 5px;
}

nav ul li a:hover {
    color: #00b5ad;
    background-color: white;
    
}


::ng-deep .darkMode nav ul li a:hover {
    color: #2196f3 !important;
}