<nav [className]="menuToggle ? 'navbar open' : 'navbar'">
    <div class="menu"><mat-icon class="material-icons" color="primary" (click)="menuUpdate()">
        menu
        </mat-icon></div>
    <ul>
        <li routerLinkActive="active" (click)="menuUpdate()">
            <a routerLink="dashboard">
                <mat-icon aria-hidden="false">
                    home
                </mat-icon>
                Dashboard
            </a>
        </li>
        <li routerLinkActive="active" (click)="menuUpdate()">
            <a routerLink="customer">
                <mat-icon aria-hidden="false">
                    people
                </mat-icon>
                Customers
            </a>
        </li>
    </ul>
    <div class="darkMode-toggle">
    <mat-icon>brightness_5</mat-icon>
    <mat-slide-toggle [formControl]="toggleControl" name="toggleControl" color="primary"></mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
    </div>

</nav>


    
    
