button {
    margin-top: 20px;
}

.mat-column-del, .mat-column-select {
    pointer-events: none;
}

.mat-column-del {
    width: 20px;
}

.mat-column-del i, mat-checkbox{
    pointer-events: all;
}

tr.cdk-row:hover {
    background-color: whitesmoke;
    cursor: pointer;
}



mat-row mat-cell:last-child, mat-header-cell:last-child {
    
    max-width: 30px;
    display: flex;
    justify-content: center;
}

mat-cell span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



table {
    width: 100%;
}

.delete-selection-button {
    margin-top: 0px;
    margin-bottom: 1.25em;
}

.form-controllers {
    display: flex;
    justify-content: space-between;
}

