<div>
    <h2 *ngIf=(!isEdit)>New Customer</h2>
    <h2 *ngIf=(isEdit)>Edit Customer</h2>
    <form [formGroup]="customerForm" (ngSubmit)="onSaveCustomer()">
        <div class="form-group">
            <div class="photo">
                <img  [src]="getPhotoUrl()">
                <button type="button" mat-raised-button color="primary" (click)="fileInput.click()" [disabled]="fileIsUploading">Choose File</button>
                <input  hidden #fileInput   type="file" (change)="detectFiles($event)" accept="images/*">
                <p *ngIf="fileUploaded">File Uploaded !</p>
            </div>

            <div class="main-form">
                <div class="name">
                    <mat-form-field> 
                        <mat-label>Name</mat-label>
                        <input matInput type="text" id="name" formControlName="name" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Lastname</mat-label>
                        <input matInput type="text" id="lastname" formControlName="lastname" required>
                    </mat-form-field>
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput  type="email" id="email" formControlName="email" email required>    
                    <mat-error *ngIf="customerForm.controls.email.invalid">Email not valid</mat-error>
                </mat-form-field>

                <div class="gender-birthday">

                <mat-form-field (click)="picker.open()">
                    <mat-label>Birthday</mat-label >
                    <input matInput [matDatepicker]="picker" id="birthday" formControlName="birthday" [max]="maxDate">
                    <mat-datepicker-toggle  matSuffix  [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <mat-select id="gender" formControlName="gender">
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                    </mat-select>
                </mat-form-field>

                </div>

                <mat-form-field>
                    <mat-label>Telephone</mat-label>
                    <input type="tel" matInput placeholder="555-555-1234"  id="phone" formControlName="phone" required>
                    <mat-icon matSuffix>mode_edit</mat-icon>

                </mat-form-field>

                <div class='availability-interests'>
                    <div class='customer-availability'>
                        <label>Availability :</label>
                        <mat-radio-group aria-label="example-radio-group-label" required id='availability' formControlName='availability'>
                            <mat-radio-button  *ngFor="let availability of availabilities" [value]="availability" color='primary' (change)='udpateRadio($event)'>
                                {{availability}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                
                    <div class='customer-interests'>
                        <label>Interests :</label>
                        <ul>
                        <li *ngFor="let interest of interests">
                                <mat-checkbox [id]="interest.name" [checked]='interest.interested' color='primary' (change)='updateCheckbox($event)'>                                
                                    {{interest.name}}
                                </mat-checkbox>
                            </li>
                        </ul>
                    </div>
                </div>


                <mat-form-field class="description">
                    <mat-label>Description</mat-label>
                    <textarea matInput type="text" id="description"  formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>
       
        <div class="button">
            <button mat-raised-button color="primary" (click)="onBack()">Back</button>
            <button mat-raised-button color="primary" [disabled]="customerForm.invalid || fileIsUploading" type="Submit">Save</button>
        </div>
    </form>
</div>