.form-group {
    display: flex;
    flex-direction: row;
}

.photo {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.main-form{
    display: flex;
    flex-direction: column;
}

.photo button {
    margin-top: 10px;
}

.photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border : 10px  #00b5ad solid;
    box-sizing: border-box;
}

::ng-deep .darkMode .photo img {
    border-color :  #2196f3 !important;
}

.gender-birthday {
    display: flex;
    width: 100%;
}

.gender-birthday mat-form-field:first-child {
    flex-grow: 1;
}

.gender-birthday mat-form-field:last-child {
    max-width: 100px;
}


.gender-birthday mat-form-field:first-child, .name mat-form-field:first-child{
    padding-right: 5px;
}

.gender-birthday mat-form-field:last-child, .name mat-form-field:last-child{
    padding-left: 5px;
}


.description textarea {
    height: 200px;  
}

mat-icon {
    color :rgba(0, 0, 0, 0.54);
}

::ng-deep .darkMode main mat-icon {
    color : rgba(255, 255, 255, 0.7)
}


ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
}

h3 {
    margin-bottom: 0px;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
}

mat-radio-button {
    margin-bottom: 5px;
}

.availability-interests {
    display: flex;
    flex : 1;
    width: 100%;
   
}

.availability-interests div {
    width: 50%;
   
}

.button {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    max-width: 590px;
}



@media screen and (max-width: 767px) {
    .form-group {
        flex-direction: column;
        
        align-items: center;
    }
    .main-form {
        width: 100%;
    }

    .name {
        flex-direction: column;
        
    }
    .name > mat-form-field {
       width: 100%;
       flex-grow: 1;
       padding-left: 0 !important;
       padding-right: 0 !important;
    }

    .photo {
        margin: 0;
        width: 100%;
       
        align-items: center;
        margin-bottom: 20px;
        
    }

    .gender-birthday {
        flex-direction: column;

    }

    .gender-birthday mat-form-field {
        padding-left: 0px !important;
        padding-right: 0px !important;
        width: 100%;
        max-width: 100% !important;
    }

    .button {
        flex-direction: column;
       

    }

     button {
        width: 100%;
        margin-bottom: 10px;
    } 

}
