<div class="single-customer">
    <h2>{{ 'customers.title' | translate }}</h2>
    <div class="content">
        <div class="img-container"><img [src]="getPhotoUrl()"></div>
        <div class="infos">
            <div class="name">
                <div class="text-main">
                    <div class="firstname text-with-label">
                        <h3> {{customer.name}}</h3>
                        <span class="label-container">
                            <label class="mat-form-field-label">{{ 'name' | translate }}</label>
                        </span>
                    </div>
                </div>
                <div class="text-main">
                    <div class="lastname text-with-label">
                        <h3> {{customer.lastname}}</h3>
                        <span class="label-container">
                            <label class="mat-form-field-label">{{ 'lastname' | translate }}</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="text-main">
                <div class="email text-with-label">
                    <h3><a [href]='"mailto:"+customer.email'>{{customer.email}}</a></h3>
                    <span class="label-container">
                        <label class="mat-form-field-label">{{'email' | translate}}</label>
                    </span>
                </div>
            </div>
            <div class="gender-birthday">
                <div *ngIf="customer.birthday" class="text-main">
                    <div class="birthday text-with-label">
                        <h3> {{getDate(customer.birthday)}}</h3>
                        <span class="label-container">
                            <label class="mat-form-field-label">{{'birthday' | translate}}</label>
                        </span>
                    </div>
                </div>
                <div *ngIf="customer.gender" class="text-main">
                    <div class="gender text-with-label">
                        <h3> {{ customer.gender | translate }}</h3>
                        <span class="label-container">
                            <label class="mat-form-field-label">{{'gender' | translate}}</label>
                        </span>
                    </div>
                </div>
            </div>

            <div *ngIf="customer.phone" class="text-main">
                <div class="phone text-with-label">
                    <h3><a [href]='"tel:"+customer.phone'> {{customer.phone}}</a></h3>
                    <span class="label-container">
                        <label class="mat-form-field-label">{{'telephone' | translate}}</label>
                    </span>
                </div>
            </div>

            <div class="availability-interests">
                <div class="availability">
                    <label>{{'availability' | translate}} :</label>
                    <div class="element-availability-interests">
                    <mat-icon class="material-icons" color="primary">
                        radio_button_checked
                        </mat-icon>{{customer.availability | translate}}
                    </div>
                </div>
                <div  *ngIf="customer.interests" class="interests">
                    <label>{{'interests' | translate}} :</label>
                    <div  *ngFor="let interest of customer.interests;" class="interets-elements">
                    <div  *ngIf="interest.interested" class="element-availability-interests">
                        <mat-icon  class="material-icons" fontSet="material-icons-sharp" color="primary">
                            check_box_sharp
                            </mat-icon>{{interest.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf='customer.description' class="text-main">
                <div class="email text-with-label">
                    <p> {{customer.description}}<p>
                    <span class="label-container">
                        <label class="mat-form-field-label">{{'description' | translate}}</label>
                    </span>
                </div>
            </div>
            
        </div>    
    </div>
    <div class="button">
        <button mat-raised-button color="primary" (click)="onBack()">{{'back' | translate}}</button>
        <button mat-raised-button color="primary" (click)="onEdit()">{{'edit' | translate}}</button>
    </div>
</div>